.main_container {
  background: rgba(34, 33, 33, 0.6);
  padding-top: 100px;
  padding-bottom: 13px;
  min-height: 1000px;
}

.links {
  text-decoration: none;
  color: #faa300;
  margin-right: 15px;
  font-weight: 500;
}

.links:hover {
  color: #e4c385;
  transition: 0.3s ease-in-out;
}

.image_container {
  margin-left: 10px;
}

.anime_name {
  font-size: 40px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
}

.anime_info {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.rating_stars {
  display: flex;
}

.rating_score {
  margin-right: 10px;
}

.description {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
}

.embed {
  margin: 80px 0px;
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 992px) {
  .col_container {
    margin-top: 30px;
  }
}
